h1 {   
    color: orange; 
    text-align: center;
}

body{
    background: rgb(6, 11, 80);
    color: white;
}

 p{
    font: 500;
    text-align: start;
    color: white;
  }

a{
    text-align: center;
}


  

 