<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quad Tree Visualiser</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style_home.css') }}">
  </head>
  <body>
   <h1>
    {{p1val}}
   </h1>
    
   <h2>
    <p> Short Intro</p>
   </h2>

   <p> {{p2val}}</p>

    <h2>
        <p>
            Uses
        </p>
    </h2>
    
    <p> {{p3val}} </p>


    <h2> 
        <p> Construction </p>
    </h2>

    <p> {{p4val}} </p>

    <ul>
        <li> <p> {{p5val}} </p> </li>
        <li> <p> {{p6val}} </p> </li>
        <li> <p> {{p7val}} </p> </li>
    </ul>

    
    <h2>
        <p> Images </p>
    </h2>

    <img src="https://miro.medium.com/max/750/1*viVOWmtpNbUlV79-f41xMA.png" width="600" height="600" title="A Sample Tree Like structure of QT">
    <img src="https://miro.medium.com/max/875/1*LxY2KiGzK7yBQQKLwQv0rQ.png" width="600" height="600" title=" QT used in GIS ">

    <h1>
        <a href="viz" >
            <button type="button" class=grey style="height:35px;width:100px">Visualization</button>
          </a>  
    </h1>
        
  </body>
</html> 
