<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quad Tree Visualiser</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
  </head>
  <body>
    <h1> Quad Tree Visualiser </h1>
    <p> Flask is Fun </p>
    <div class="slidecontainer">
      <input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
      <input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" /> 
    </div>
    <div class="slidecontainer">
      <input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
      <input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" /> 
    </div>
    <div class="slidecontainer">
      <input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
      <input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" /> 
    </div>
    <div class="slidecontainer">
      <input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
      <input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" /> 
    </div>
    
  </body>
</html> 